.social__container {
    position: fixed;
    display: flex;
    right: 4%;
    top:115px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social__link a {
    width: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    transition: 0.5s;
    color: #219fda;
}

.botton__line,
.top__line {
    width: 2px;
    height: 80px;
    background-color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    background: #ff9902;
}

.botton__line {
    margin-top: 20px;
}

.social__link a:hover {
    color: #fff;
    transition: 0.2s;
}

.social__link a .fa-icons {
    font-size: 2.1rem;
    padding-top: 12px; 
}
.social__link :nth-child(5) {
    padding-bottom: 10px;
}

@media all and (max-width: 568px) {
    .social__container {
        width: 100%;
        position: initial;
    }
    .social__link {
        width: 55%;
        display: flex;
        justify-content: space-between;
    }
    .botton__line,
    .top__line {
        display: none;
    }
}