@font-face{
  font-family: Circular-medium-S;
  src: url(../fonts/lineto-circular-pro-medium.ttf);
}

 /*
  * INICIO GLOBAL
  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body{
  position: relative;
  font-family: Roboto, sans-serif;
  background:#1d2225;  
  color: rgb(228, 228, 228);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
}

.section__title--right,
.section__title--left {
  font-family: Circular-medium-S, sans-serif;
  font-size: 6rem;
  opacity: .1;
  color: rgb(228, 228, 228);
}

.section__title--right {
  padding: 20px 0 0 65px;
}

.section__title--left {
  padding: 20px 0 0 60%;
}

.home__container .btn-pattern {
  padding: 12px 25px;
  background: #ff9902;
  border: 1px solid #ff9902;
  border-radius: 5px;
  color: #fff;
  font-size: .9rem;
  letter-spacing: 5px;
  transition: .2s;
  display: inline-block;
  margin: 15px 0;
}

.btn-pattern:hover {
  background: #eb8d02;
}

.arrow {
  width: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}


 /*
 * INICIO MENU
 */

.menu {
  position: absolute;
  position: fixed;
  left: -30%;
  top: 0;
  z-index: 998;
  color: #005c9c;
  background: #181c1f;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

.menu a {
  text-decoration: none;
  color: #677279;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  margin-left: 45px;
}

.menu a:hover {
  color:#ffffff
}

.menu.active {
  left: 0;
}

nav .menu__toggler {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
}

nav .menu__toggler span,
nav .menu__toggler span::before,
nav .menu__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: #ffffff;
  border-radius: 20px;
  -webkit-transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

nav .menu__toggler span::before {
  top: -8px;
}

nav .menu__toggler span::after {
  top: 8px;
}

nav .menu__toggler.active > span {
  background: transparent;
}

nav .menu__toggler.active > span::before, .menu__toggler.active > span::after {
  background: #fff;
  top: 0px;
}

nav .menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

nav .menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
 
 
 /*
  * INICIO HOME
  */

.home {
  height: 100vh;
  padding:6%;
  position: relative;
}

 .home__container {
  width: 75vw;
  display: flex;
  justify-content: space-around;
  margin: 40px auto ;
}

.home__container h1 {
  color: rgb(228, 228, 228);
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  
}

.img__home {
  width: 300px;
}
.home__container h1 {
  display: block;
}

.span {
  display: block;
}
.home__container a {
  text-decoration: none;
}

.home__container p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: .8rem;
  color: #677279;
}

.home__profileImage {
  border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	width: 290px;
	height: 290px;
  overflow: hidden;
}

.home__profileImage img {
  width: 100%;
  height: auto;
}


/*
 * ::::::::::: INICIO SOBRE MIM :::::::::::
 */

.about__container {
  width: 100%;
  height: 100%;
}

.about__content {
  padding: 50px;
  text-align: justify;
  max-width: 900px;
  margin: 30px auto;
  background-color: #21272b;
}

.about__content h2 {
  color: rgb(228, 228, 228);
}

.about__content p {
  margin: 0 0 24px;
  font-size: 1.1rem;
  color: rgb(228, 228, 228);
}


/*
 * ::::::::::: INICIO SKILL :::::::::::
 */

.skill__container {
  width: 100%;
  padding: 20px;
}

.skill__section {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #21272b;
}

.skill__tag {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skill__tag span {
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: #ff9902;
  border: 1px solid #ff9902;
  border-radius: 5px;
  color: #000;
  font-size: .9rem;
  font-weight: bold;
}

.img__skills {
  width: 200px;
}


/*
 * ::::::::::: INICIO PROJETOS :::::::::::
 */

.project__container {
  height: 100%;
  margin-bottom: 20px;
}

.project__container .project__section {
  margin-top: 30px;
  max-width: 80%;
  margin: 30px auto;
}

.project__section > .card-deck {
  margin-bottom: 20px;
}
.card-title,
.card-text {
  color: rgb(228, 228, 228);
}

.card-text {
  font-size: .9rem;
}

.card-text .text-footer {
  color: #ff9902;
  font-size: .6rem;
  font-weight: bold;
}

.card {
  background-color: #21272b;
  border: 1px solid rgba(255, 255, 255, 0.253);
  padding: 5px;
  text-decoration: none;
  text-transform: none;
  border-radius: 8px;
}

.card__link {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.651);
	display: flex;
  flex-direction: column;
  border-radius: 8px;
	width: 100%;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	opacity: 0;
	padding: 80px 20px;
	text-align: center;
	top: 0;
	z-index: 0;
	visibility: hidden;
	transition: all 0.2s ease-in-out;
}

.card:hover .card__link {
	opacity: 1;
	visibility: visible;
}

.card__link h3 {
	color: #fff;
	font-size: 1.7em;
	line-height: 1em;
}

.card__link .btn__pattern,
.form-btn .btn__pattern {
  padding: 12px 25px;
  background: #ff9902;
  color: #fff;
  font-size: .9rem;
  border-radius: 5px;
  letter-spacing: 5px;
  position: relative;
  overflow: hidden;
  transition: .2s;
  text-decoration: none;
  display: inline-block;
}

.btn__pattern:hover {
	background: #eb8d02;
}

.btn__pattern i {
	position: absolute;
	font-size: 1.5em;
	top: 12px;
	right: 0px;
}

/*
 * ::::::::::: INICIO CONTATO :::::::::::
 */

.contact__container {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.form {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #21272b;
}

.form input:focus,
.form textarea:focus {
  box-shadow: 0px 0px 5px 1px #585652;
  border-color:rgba(228, 228, 228, 0.774);
  background-color: #21272b;
  color: #fff;
  outline: 0;
} 

.form-control {
  background-color: transparent;  
  border: 2px solid #fff;
  border-radius: 5px;
}

.form-btn .btn__pattern {
  width: 100%;
  cursor: pointer;
  border: none;
}
.img__contact {
  width: 200px;
}

/*
 * ::::::::::: INICIO BOTÃO VOLTAR TOP :::::::::::
 */

 .backtop {
   width: 30px;
   height: 30px;
   position: fixed;
   bottom: 13%;
   right: 1%;
   cursor: pointer;
 }

 .backtop i {
   font-size: 1.6rem;
   color: #eb8d02;
 }

/*
 * ::::::::::: INICIO SOCIAL :::::::::::
 */

.social__container {
  padding: 0 24px;
  background-color:#21272b;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.social__link {
  width: 208px;
  margin: auto;
  display: flex;
}

.social__link a {
  padding: 0 16px;
  width: 52px;
  height: 40px;
  display: table-cell;
  color: #677279;
  text-decoration: none;
  transition: 0.5s;
}

.social__link a:hover {
  color: #fff;
  transition: 0.2s;
}

.social__link a i {
  font-size: 1.3em;
  padding-top: 12px; 
}

.social__link--menu {
  width: 208px;
  
  display: flex;
}

.social__link--menu a {
  padding: 0 16px;
  width: 52px;
  height: 40px;
  display: table-cell;
  color: #677279;
  text-decoration: none;
  transition: 0.5s;
  margin: 0;
}

.social__link--menu a:hover {
  color: #fff;
  transition: 0.2s;
}

.social__link--menu a i {
  font-size: 1.3em;
  padding-top: 12px; 
}

/*
 * ::::::::::: INICIO FOOTER :::::::::::
 */

.footer__container {
  border-top: 1px solid #ff9a0267;
  padding: 10px 24px;
  position: relative;
  background-color:#21272b;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.footer__container p {
  font-size: .8rem;
}


 @media only screen and (max-width: 800px) {
  .menu {
    width: 250px;
    left: -250px;
    padding: 0 0 133px 26px;
  }
 
}

@media all and (max-width: 568px) {
 
  .home {
    height: 70vh;
    margin-bottom: 20px;
    padding: 0;
  }
  .span {
    display: initial;
  }

  .home__container {
    width: 91%;
    margin: 107px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__container h1 {
    font-size: 2.4em;
    line-height: normal;
  }
 
  .home__profileImage {
    width: 60%;
    height: 60%;
    margin: 90px auto 0;
  }

  .home__container img {
    display: none;
  }

  .about__content {
    padding: 20px;
  }

  .section__title--right,
  .section__title--left {
    display: flex;
    justify-content: center;
    padding-left: 0;
    font-size: 3rem;
  }

  .form {
    flex-direction: column-reverse;
  }
}

