@import url("https://fonts.googleapis.com/css?family=Lato");
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

html,
body {
  background: linear-gradient(to right, #be0505, #802d83);
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}


/*::::::::::: INICIO NAVBAR :::::::::::*/
svg {
  cursor: pointer;
  height: 44px;
  width: 44px;
}
svg path {
  fill: #fff;
}
ol {
  list-style-type: none;
}
.menu a{
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 1.1em;
}
.menu span{
  color:#cfd8dc;
  font-size: 1.2em;
}
.menu p {
  font-family: "Roboto Mono", monospace;
  float: right;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #cfd8dc;
  transition: all 0.2s;
}

.menu p:hover {
  border-bottom: 2px dotted #cfd8dc;
  padding-bottom: 5px;
}

.menu .menu__content li > span{
  margin-left: 20px;
}
.menu a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.menu a:hover{
  text-decoration: none;
  color: #dd925f;
}
.menu .menu__content .disable{
  pointer-events: none;
  color: #fadba0;
}
.menu a:after {
  content: '';
  position: absolute;
  top: 100%;
  height: 4px;
  background: #fff;
  left: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.sub-menu li a{
  color: #ecdcf8;
}
.menu {
  position: relative;
  width: 250px;
  position: fixed;
}
.menu__content {
  color: #fff;
  margin: 0;
  padding: 0 0 25px 0;
  position: absolute;
  right: 100%;
  top: 0;
  width: 250px;
  z-index: 2;
}
.menu__toggle-label {
  height: 44px;
  left: 0;
  position: absolute;
  width: 44px;
}
.menu__toggle-label svg {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  z-index: 2;
}
.menu__toggle-label p {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  z-index: 2;
}
.menu__toggle-label p {
  left: 250px;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu__toggle {
  opacity: 0;
  position: fixed;
}
.menu__toggle:checked ~ .menu__toggle-label {
  background: rgba(0, 0, 0, 0.753);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
  width: 100vw;
}
.menu__toggle:checked ~ .menu__toggle-label svg {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.menu__toggle:checked ~ .menu__toggle-label p {
  left: 250px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  -webkit-transition-delay: 0.425s;
          transition-delay: 0.425s;
}
.menu__toggle:checked ~ .menu__content {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
.menu__toggle:checked ~ .menu__content .menu-item {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: border-color 0.15s, -webkit-transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: border-color 0.15s, -webkit-transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275), border-color 0.15s;
  transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275), border-color 0.15s, -webkit-transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu__toggle:checked ~ .menu__content .menu-item {
  border-color: #f5ab35;
}
.menu__toggle:checked ~ .menu__content .menu-item a[href]:after {
  background: #f5ab35;
}

.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(1) {
  -webkit-transition-delay: 0.225s, 0.875s;
          transition-delay: 0.225s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(2) {
  -webkit-transition-delay: 0.275s, 0.875s;
          transition-delay: 0.275s, 0.875s;
}
.menu__toggle:checked ~ .menu__content .menu-item:nth-of-type(3) {
  -webkit-transition-delay: 0.325s, 0.875s;
          transition-delay: 0.325s, 0.875s;
}

.menu__content > .menu-item > a {
  line-height: 44px;
  min-width: 60px;
}
.sub-menu {
  padding: 0 0 0 44px;
  margin: 0 0 0 20px;
  border-left: 1px solid ;
}
.menu-item {
  line-height: 44px;
  min-height: 44px;
  padding: 0 12px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
/*::::::::::: FIM NAVBAR :::::::::::*/


/*::::::::::: INICIO CONTEUDO :::::::::::*/
.container-conteudo{
  height: 100%;
  flex: 1;
}
.conteudo{
  margin-top: 150px;
  width: 590px;
  margin-left: auto;
  margin-right: auto;
}
.conteudo h2{
  font-size: 200%;
  max-width: 100%;
  height: 70px;
  padding-top: 12px;
  margin-left: 30px;
  padding-left: 20px;
  color: #fff;
  border-left: 2px solid #4d4d4c;
}

.conteudo h2::after{
  content: '|';
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca{
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

.container-conteudo h1{
  font-weight: bold;
  color: #b5bc67;
}

.container-conteudo span{
    color: #cfd8dc;
}
/*::::::::::: FIM CONTEUDO :::::::::::*/


/*::::::::::: INICIO FOOTER :::::::::::*/
.footer{
  padding: 0 24px;
  background-color: #4d4d4c;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  
}
.footer .social{
  width: 208px;
  margin: auto;

}
.footer .social a{
  padding: 0 16px;
  width: 52px;
  height: 40px;
  display: table-cell;
  color: #fff;
  text-decoration: none;
}
.footer .social a:hover{
  color: #dd925f;
}

.footer .social a i{
  font-size: 1.3em;
  padding-top: 12px;
  
}
/*::::::::::: FIM CONTEUDO :::::::::::*/


/*::::::::::: INICIO CONTEUDO PG SOBRE MIM :::::::::::*/
main{
  margin: 44px 0 40px;
  padding: 32px 0 46px;
}
.article-Container{
  width: 100%;
}
.mg{
  max-width: 650px;
  margin: auto;
}
.contentP{
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  text-align: justify;
  
}.contentP h1{
  margin: 0 0 24px;
  font-size: 1.5em;
}
.contentP p{
  margin: 0 0 24px;
}

.skill{
  margin-top: 40px;
  text-align: left;
  box-sizing: border-box;
}
.skill h2{
  margin-bottom: 30px;
}
.skill ul li{
  margin-bottom: 20px;
}
/*::::::::::: FIM CONTEUDO PG SOBRE MIM :::::::::::*/


@media all and (max-width: 568px) {
 
  .container-conteudo .conteudo{
    width: 100%;
  }
  .container-conteudo .conteudo h2{
    font-size: 110%;
    height: 10%;
  }
  .container-conteudo h1{
    font-size: 120%;
  }
  .article-Container .contentP{
    font-size: 20px;
    text-align: left;
  }
  main{
    margin-top: 40px;
    padding: 0;
  }
}