@font-face{
  font-family: Circular-medium-S;
  src: url(../fonts/lineto-circular-pro-medium.ttf);
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Circular-medium-S, sans-serif;
  background:#1d2225;  
  color: #ffffff
}

/*
 * MENU BUTTON
 */
 @import url("https://fonts.googleapis.com/css?family=K2D");
 .menu__toggler {
   position: absolute;
   top: 20px;
   left: 20px;
   z-index: 999;
   height: 28px;
   width: 28px;
   outline: none;
   cursor: pointer;
   display: -webkit-box;
   -webkit-box-align: center;
           align-items: center;
  position: fixed;
 }

 .menu__toggler span,
 .menu__toggler span::before,
 .menu__toggler span::after {
   position: absolute;
   content: '';
   width: 28px;
   height: 2.5px;
   background: #ffffff;
   border-radius: 20px;
   -webkit-transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
   transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
 }

 .menu__toggler span::before {
   top: -8px;
 }
 .menu__toggler span::after {
   top: 8px;
 }
 .menu__toggler.active > span {
   background: transparent;
 }
 .menu__toggler.active > span::before, .menu__toggler.active > span::after {
   background: #005c9c;
   top: 0px;
 }
 .menu__toggler.active > span::before {
   -webkit-transform: rotate(-225deg);
           transform: rotate(-225deg);
    
          
 }
 
 .menu__toggler.active > span::after {
   -webkit-transform: rotate(225deg);
           transform: rotate(225deg);
 }
 
 /*
  * SLIDING MENU PANEL
  */
 .menu {
   position: absolute;
   position: fixed;
   left: -30%;
   z-index: 998;
   color: #005c9c;
   background: #181c1f;
   -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
           clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
   width: 30%;
   height: 100%;
   padding: 100px;
   display: -webkit-box;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
           flex-direction: column;
   -webkit-box-pack: center;
           justify-content: center;
   -webkit-transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
   transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
 }

 .menu a{
   text-decoration: none;
   color: #677279;

   transition: 0.3s;
 }
 .menu a:hover{
   transition: 0.3s;
   color:#ffffff
 }
 @media only screen and (max-width: 600px) {
   .menu {
     width: 250px;
     left: -250px;
     padding: 50px;
   }
 }
 .menu.active {
   left: 0;
 }
 .menu a {
   font-size: 1.4rem;
   margin-bottom: 1rem;
 }
 
 /*
  * BASIC STYLES
  */
 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 

 
.container-conteudo h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 5em;
  color: transparent;
  text-transform: uppercase;
  font-weight: 400;
}
.container-conteudo h2 span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow: hidden;
}
.container-conteudo h2:hover span:nth-child(1){
  transform: translateY(-18px);
  
}
.container-conteudo h2 span:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  clip-path: polygon(0 49%, 100% 49%, 100% 100%, 0 100%);
  overflow: hidden;
}
.container-conteudo h2:hover span:nth-child(2){
  transform: translateY(18px);
}
.container-conteudo h2 span:nth-child(3){
  position: absolute;
  top:49%;
  left: 0;
  transform: translateY(-50%) scaleY(0);
  width: 98.5%;
  color: #000;
  background: #ff0;
  font-size: 0.25em;
  font-weight: 500;
  letter-spacing: 0.7em;
  text-align: center;
  padding-left: 20px;
  margin-left: 5px;
  transition: 0.5s;
}
.container-conteudo h2:hover span:nth-child(3 ){
  transform: translateY(-50%) scaleY(1);
}
.container-conteudo h2::before{
  content: '';
  position: absolute;
  top: calc(-15% - 15px);
  right: 0;
  width: 100%;
  height: 10px;
  background: #f00;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
  z-index: 1;
}


.container-conteudo h2:hover::before{
  transform: scaleX(1);
  
}
.container-conteudo h2::after{
  content: '';
  position: absolute;
  top: calc(125% - 15px);
  left: 0;
  width: 100%;
  height: 10px;
  background: #f00;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  z-index: 1;
  
}
.container-conteudo h2:hover::after{
  transform: scaleX(1);
}

/*::::::::::: INICIO FOOTER :::::::::::*/
.footer{
  padding: 0 24px;
  
  background-color:#21272b;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  
}
.footer .social{
  width: 208px;
  margin: auto;

}
.footer .social a{
  padding: 0 16px;
  width: 52px;
  height: 40px;
  display: table-cell;
  color: #677279;
  text-decoration: none;
  transition: 0.5s;
}
.footer .social a:hover{
  color: #ffffff;
  transition: 0.5s;
}

.footer .social a i{
  font-size: 1.3em;
  padding-top: 12px;
  
}
/*::::::::::: FIM CONTEUDO :::::::::::*/


/*::::::::::: INICIO CONTEUDO PG SOBRE MIM :::::::::::*/
main{
  
  padding: 52px 0 86px;
}

.article-Container{
  width: 100%;
  
}
.mg{
  max-width: 800px;
  margin: auto;
  padding: 30px;
  background-color: #21272b;
}
.contentP{
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  text-align: justify;
  
}
.contentP h1{
  margin: 0 0 24px;
  font-size: 1.5em;
}
.contentP p{
  margin: 0 0 24px;
  
}

.skill{
  margin-top: 40px;
  text-align: left;
  box-sizing: border-box;
}
.skill h2{
  margin-bottom: 30px;
}
.skill ul li{
  margin-bottom: 20px;
}
/*::::::::::: FIM CONTEUDO PG SOBRE MIM :::::::::::*/

.main{
  padding: 0;
  margin: 0;
}

.titulo-page{
  width: 100vw;
  min-height: 70vh;
  
  text-align: center;
  position: relative;
  z-index: -1;
  position: fixed;
}
.titulo-conteudo{
  margin: 155px auto;
}
.titulo-conteudo h1{
  font-size: 4.5rem;
}
.container-card{
  padding-top: 450px;
  margin-bottom: 80px;
}
.card{
  background-color: #21272b;
  -webkit-box-shadow: 0px 0px 19px -4px rgba(26,23,26,1);
-moz-box-shadow: 0px 0px 19px -4px rgba(26,23,26,1);
box-shadow: 0px 0px 19px -4px rgba(26,23,26,1);
border: 1px solid #ffffff28;
padding: 10px;
}
.card img{
  height: 250px;
  background-color: #005c9c;
}


@media all and (max-width: 568px) {
 
  .container-conteudo .conteudo{
    width: 100%;
  }
  .container-conteudo .conteudo h2{
    font-size: 110%;
    height: 10%;
  }
  .container-conteudo h1{
    font-size: 120%;
  }
  .article-Container .contentP{
    font-size: 20px;
    text-align: left;
  }
  main{
    margin-top: 40px;
    padding: 0;
  }
}

