.skill__container {
    width: 100%;
    padding: 20px;
}

.skill__section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #21272b;
}

.skill__tag--img {
    display: flex;
}
.skill__tag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    column-gap: 0;
}

.skill__tag span {
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #ff9902;
    border: 1px solid #ff9902;
    border-radius: 5px;
    color: #000;
    font-size: .9rem;
    font-weight: bold;
}

.img__skills {
    width: 200px;
}

@media all and (max-width: 568px) {
    .skill__tag {
        grid-template-columns: repeat(2, 1fr);
        
    }
}